BODY{background-color: green;}
h1{color: rgb(24, 41, 11);
background-color: rgba(176, 210, 199, 0.696);
font-size: medium;}
body{background-color: rgb(104, 168, 110); size-adjust: 200px 400px;}
.high1{background-color: rgb(192, 227, 197);}