p {color: rgb(155, 116, 182);
background-color: lavender;
font-size: medium;
font-family: sans-serif;}

 h1{color: #6b3fa1;}

wow{background-color: rgb(156, 215, 215);}

 .high1{background-color: rgb(192, 227, 197);}

 .high2{background-color: rgb(179, 205, 253);}

#mykitten{width:300px;}

 li{color: #6b3fa1;}
