.audio{ background-color: mediumpurple; color:pink}

.main { background-color: mediumpurple; color: pink}

.color-button { background-color: mediumpurple; color: pink}

h1 { color: rgb(118, 74, 134);}

.homepage { background-color: mediumpurple; color: pink; border: black 20px }