BODY{background-image: url(mango.jpg); background-repeat: no-repeat; 
    background-attachment: fixed; background-size: cover;}
H1, H2 {color: #fdf1ea; font-family:monospace;
background-color: #bd612f;}
p{color: #ffdce0;background-color: #d05f22; font-family:monospace;}
 
H1:hover {
  color: #000000;
  background-color: #ffcc00;
}
h2:hover,p:hover{color: #000000;
background-color: #ffa600;
}
.output {background-color: rgb(34, 64, 14)}

.images {
  display: flex;
  gap: 20px;
}
.funky {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  background-color: #19572c;
  padding: 10px 15px;
  border-radius: 5px;
}