#creature-form {
   background: #eeeeee;
   padding: 20px;
   margin: 50px;
}

#creature-form DIV {
   margin-bottom: 20px;
}

/* container where creatures will wander */
#creature-list {
   position: relative;
   width: 300px;
   height: 500px;
   margin: 50px;
   border: 2px solid rgba(0,0,0,0.08);
   background: #f1f1f1;
   overflow: hidden;
}

h1 {font-family:'Lucida Sans'; color: rgb(86, 0, 139);}

BODY { background-color:rgb(177, 160, 221);}

/* each creature is absolutely positioned inside #creature-list */
.creature {
   position: absolute;
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}
#creature-form DIV {
    margin-bottom: 10px;
}

#creature-list>DIV {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.creature-body {
    background: rgb(196, 192, 196);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.eye { height: 18px; width: 10px; border: 2px solid #000; 
   border-radius: 10px; background: #fff;}