#creature-form {
   background: #eeeeee;
   padding: 20px;
   margin: 50px;
}

#creature-form DIV {
   margin-bottom: 20px;
}

#creature-list {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   margin: 50px;
}

#creature-list>DIV {
   background: rgb(208, 208, 209);
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}
#creature-form DIV {
    margin-bottom: 10px;
}

#creature-list>DIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-body {
    background: rgb(196, 192, 196);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.eye { height: 18px; width: 10px; border: 2px solid #000; 
   border-radius: 10px; background: #fff;}